html, body {
  height: 100%;
  margin: 0;
}

.personal-information-container {
  height: 100%;
  font-family: 'NanumSquare';
}

.personal-information-container * {
  box-sizing: border-box;
  margin: 0;
  border-style: solid;
  border-width: 0px;
}

.personal-information-container img {
  width: 100%;
}

.personal-information-container .personal-information-wrap {
  height: inherit;
  max-width: 800px;
  margin: 0 auto;
}

.personal-information-container .personal-information-wrap .personal-information {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-top-area {
  flex: 1;
  padding: 40px 20px;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .bb-market-logo-wrap {
  width: 50%;
  margin-bottom: 20px;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-detail {
  border-color: #bcf0c5;
  border-top-width: 2px;
  padding-top: 30px;
  font-size: 13px;
  padding-left: 10px;
  padding-right: 5px;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-detail .personal-information-detail-item {
  display: flex;
  margin-bottom: 10px;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-detail .personal-information-detail-item .detail-left {
  width: 30%;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-detail .personal-information-detail-item .detail-right {
  flex: 1;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-bottom-area {
  width: 100%;
  display: flex;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-bottom-area .disagree-button {
  flex: 1;
  background-color: #757575;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.personal-information-container .personal-information-wrap .personal-information .personal-information-bottom-area .agree-button {
  flex: 1;
  padding: 20px 0;
  background-color: #52ca66;
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 700px) {
  .personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .bb-market-logo-wrap {
    margin-bottom: 50px;
    width: 30%;
  }
  .personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-title {
    font-size: 40px;
  }
  .personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-subtitle {
    font-size: 24px;
  }
  .personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-detail {
    font-size: 16px;
  }
  .personal-information-container .personal-information-wrap .personal-information .personal-information-top-area .personal-information-top-inner .personal-information-detail .personal-information-detail-item {
    margin-bottom: 15px;
  }
  .personal-information-container .personal-information-wrap .personal-information .personal-information-bottom-area .confirm-button {
    font-size: 26px;
  }
}
